.container-fluid {
    padding: 2% 0;
}

header {
    background-color:#ab432d;
    position : sticky;
    top: 0;
    box-shadow: rgba(0,0,0,0.15) 0px 5px 15px;
    height: 6vw;
}

footer {
    margin-top: 5%;
    margin-left:1%;
}

body {
    background-color: #ffffff;
}

.body {
    margin: 3%;
}

.right {
    position: absolute;
    right: 0;
    margin-right: 3%
}

.flex {
    display: flex;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 10%;
    margin-top: -4%;
}

.container-blog {
    background-color: #ccecff;
    margin: 1%;
}

.blog {
    padding: 0.5%;
    margin: 0.5%;
}
